@media (max-width: 767px) {
    .header {
        padding-bottom: 20px;
    }
    .header .slid .intro {
        padding-top: 20px;
    }

    .header .slid .intro .bg-car {
        width: 100%;
    }

    .header .slid .intro .add-ads {
        display: block;
        padding-top: 20px;
        text-align: center;
    }
    
    .header .search form {
        width: 100%;
        padding-right: 5px;
    }

    .header .search form span {
        margin-left: 10px;
    }

    .header .search form button {
        width: 100px;
        height: 50px;
    }
}